
.skeletons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    span {
        width: 25%;
        height: 250px;
        padding: 0 10px 12px;
        margin-bottom: 20px;
        border-radius: 30px;

        span {
            height: 100%;
            width: 100%;
        }
    }
}