@import './../../_base.scss';

.header {
    background-color: $black-primary;
    height: 60px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

        .logotype {
            display: flex;
            align-items: center;

            .logotype__burger {
                width: 40px;
                height: 40px;
                padding: 8px;
                margin: 16px 15px 14px 0;
                cursor: pointer;
                border-radius: 50%;
                border: none;
                background-color: transparent;
        
                .logotype__burger-icon {
                    pointer-events: none; 
                    display: block;
                    fill: #fff;
                }
            }

            .logotype__link {
                width: 90px;
                height: 56px;
                display: block;


                .logotype__icon {
                    width: 100%;
                    height: 100%;
                    fill: #fff;
                }
            }
        }

        .buttons-list {
            display: flex;
            align-items: center;
            position: relative;

            .buttons-list__search {
                display: none;
                width: 40px;
                height: 40px;
                padding: 8px;
                margin: 16px 15px 14px 0;
                cursor: pointer;
                border-radius: 50%;
                border: none;
                background-color: transparent;

                    svg {
                        display: block;width: 100%;height: 100%;fill: #fff;
                    }
            }

            .buttons-list__signin {
                border: 1px solid rgb(6, 95, 212);
                background-color: transparent;
                border-radius: 3px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                color: rgb(6, 95, 212);
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                    fill:rgb(6, 95, 212);
                    margin-right: 10px;
                }
            }

            .button-list__user-avatar {
                width: 30px;
                height: 30px;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        
    }
}

@media screen and (max-width: 600px) {
    .header {

        .logotype {
            .logotype__link {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .header {

        .logotype {
            .logotype__burger {
                display: none;
            }
            .logotype__link {
                display: block;
            }
        }

        .search {
            display: none;
        }

        .buttons-list {

            .buttons-list__search {
                display: block;
            }
        }
    }
}