@import './../../base';

.searchpage {
    color: #fff;
    padding: 20px 30px;
    width: 100%;

    .searchpage__results {
        transition: .2s all linear;

        .searchpage__results__channels {

            .searchpage__results__channels__list {
                display: flex;
                flex-direction: column;
                border-top: 1px solid #303030;
                border-bottom: 1px solid #303030;

                .searchpage__results__channels__list__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 0;

                    .searchpage__results__channels__list__item--image {
                        flex-basis: 350px;
                        text-align: center;

                        img {
                            width: 136px;
                            height: 136px;
                            border-radius: 50%;
                        }
                    }

                    .searchpage__results__channels__list__item__metadata {
                        color: $text-color;
                        font-size: 13px;
                        margin-right: 20px;

                        .searchpage__results__channels__list__item__metadata--channelname {
                            margin-bottom: 15px;
                            color: #fff;
                            font-size: 20px;
                            font-weight: 500;
                        }

                        .searchpage__results__channels__list__item__metadata--stats {
                            margin-bottom: 5px;

                            .dot {
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }

        .searchpage__results__videos {

            .searchpage__results__videos__list {
                display: flex;
                flex-direction: column;
                padding: 20px 0;

                .searchpage__results__videos__list__item {
                    display: flex;
                    justify-content: flex-start;
                    position: relative;

                    &:hover {
                        .submenu {

                            .submenu__dots {
                                display: flex;
                            }
                        }
                    }

                    .submenu {
                        position: absolute;
                        right: 10px;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        .submenu__dots {
                            display: none;
                            flex-direction: column;
                            cursor: pointer;

                            &.active {
                                display: flex;
                            }

                            .dot {
                                background-color: #fff;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                margin-bottom: 3px;
                            }
                        }

                        .submenu__list {
                            display: flex;
                            flex-direction: column;
                           min-width: 220px;
                           background-color: $black-primary;
                           position: relative;
                           right: 0;
                           opacity: 0;

                           &.active {
                               opacity: 1;
                           }

                           .divider {
                               width: 100%;
                               height: 1px;
                               background-color: #303030;
                               margin: 10px 0;
                           }

                            .submenu__list--btn {
                                background-color: $black-primary;
                                 padding: 10px 15px;
                                width: 100%;
                                text-align: left;
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                transition: .5s all linear;

                                &:hover {
                                    background-color: $text-color;
                                }

                                svg {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                    .searchpage__results__videos__list__item--image {
                        flex-basis: 350px;
                        height: 200px;
                        margin-right: 20px;

                        img {
                            width: 100%;height: 100%;object-fit: cover;
                        }
                    }

                    .searchpage__results__videos__list__item__metadata {
                        display: flex;
                        flex-direction: column;
                        color: $text-color;
                        font-size: 13px;

                        .searchpage__results__videos__list__item__metadata--title {
                            margin: 10px 0 0;
                            color: #fff;
                            font-size: 20px;
                        }

                        .searchpage__results__videos__list__item__metadata--stats {

                            .dot { 
                                margin: 0 5px;
                            }
                        }

                        .searchpage__results__videos__list__item__metadata--author {
                            padding: 15px 0;
                            display: flex;
                            align-items: center;

                            img {
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}