@import "./../../_base.scss";
@import "./../Video/Submenu/submenu";

.video {
  flex: 0 0 25%;
  width: 25%;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0.7rem;

  a {
    .video__image {
      width: 100%;
      height: 150px;
      margin-bottom: 15px;
      position: relative;

      .video__duration {
        padding: 0 0.7rem;
        position: absolute;
        bottom: 0.3rem;
        right: 0.3rem;
        background-color: #080808ec;
        border-radius: 3px;
        color: #fff;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .video__body {
    display: flex;
    color: $text-color;

    .video__author-channel {
      padding:  0 10px 0 0;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        
      }
    }

    .video__metadata {

      .video__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
      }

      .video__author-name {
        font-size: 13px;
        margin-bottom: 2px;

        .video__author-channel__link {
          color: $text-color;
        }
      }

      .video__stats {
        font-size: 13px;

        .dot {
          margin: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .video {
    .video__image {
      height: 120px;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .video {
    width: 25%;
    flex: 0 0 25%;
  }
}


@media (max-width: 1080px) {
  .video {
    width: 33.333%;
    flex: 0 0 33%;
  }
}


@media (max-width: $breakpoint-tablet) {
  .video {
    width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .video {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
    flex: 0 0 100%;

    .video__link {
      .video__image {
        height: 200px;
      }

      .video__channel,
      .video__details,
      .video__title {
        padding-left: 15px;
      }
    }
  }
}