@import './../../_base.scss';


nav {
    background: $black-primary;

    min-height: 100vh;
    z-index: 999;
    width: 230px;

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 60px;


    transition: transform 0.2s ease-in;

    padding-top:1rem;


    .navbar__link {
        color: #fff;
        text-decoration: none;

        .navbar__item {
            display: flex;
            align-items: center;
            padding: 0.6rem 1.5rem;
            transition: all .1s ease-in-out;

            span {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: .4px;
                margin-left: 1.3rem;
            }
            &:hover {
                background-color: $border-color;
            }

        }
        .active {
            font-weight: 600;
            background-color: $border-color;
        }
    }

    hr {
        border: $border-main;
        margin: 15px 0;
    }

    &.open {
        transform: translateX(0);
        position: sticky;
    }

    &.is-sticky {
        position: fixed;
        top: 0;
        width: 220px;
    }

    p {
        color: $text-color;
        padding: 0.6rem 1.5rem;

        // button {
        //     border: 1px solid rgb(6, 95, 212);
        //         background-color: transparent;
        //         border-radius: 3px;
        //         padding: 6px 12px;
        //         display: flex;
        //         align-items: center;
        //         color: rgb(6, 95, 212);
        //         font-size: 14px;
        //         font-weight: 500;
        //         cursor: pointer;
        //         margin-top: 20px;

        //         svg {
        //             width: 24px;
        //             height: 24px;
        //             fill:rgb(6, 95, 212);
        //             margin-right: 10px;
        //         }
        // }
    }

    .user-subs {
        color: $text-color;
        padding: .1rem 1.5rem;
        font-weight:600;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .user-subs__list {

        .user-subs__item {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: .5rem 1.5rem;

            &:hover {
                background-color: $border-color;
            }
    
            .user-subs__item--avatar {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 20px;
            }
    
            .user-subs__item--name {
                color: #fff;
            }
        }

        .user-subs__showMore {
            background-color: transparent;
            color: #fff;
            text-transform: uppercase;
            padding: .5rem 1.5rem;
            display: flex;
            align-items: center;
            width: 100%;
            font-weight: 600;

            svg {
                margin-right: 10px;
            }

            &:hover {
                background-color: $border-color;
            }
        }
    }

    &.smallsize {
        width: 72px;

        .divider ,
        .user-subs,
        .user-subs__list,
        p{
            display: none;
        }

        .navbar__link {
            .navbar__item {
                flex-direction: column;
                padding: 1rem 0;
                text-align: center;

                span {
                    font-size: 12px;
                    margin-left: 0;
                    font-weight: 400;
                }
            }

            &.liked,&.watch-later,&.my-videos {
                display: none;
            }
        }

        
    }
}


@media(max-width: 1220px) {
    nav {
        width: 70px;

        .navbar__link {

            .navbar__item {
                justify-content: center;

                span {
                    display: none;
                }
            }
        }

        p {
            display: none;
        }

        .user-subs {
            display: none;
        }

        .user-subs__list {

            .user-subs__item {

                .user-subs__item--name {
                    display: none;
                }
            }
            
            .user-subs__showMore {
                display: none;
            }
        }
    }
}

@media(max-width: $breakpoint-mobile) {
    nav {
        transform: translateX(-100%);
        position: fixed;
    }
}
