@import './../../_base.scss';


nav {
    background: $black-primary;

    height: 100vh;
    z-index: 9999;
    width: 240px;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 7vh;
    left: 0;

    transform: translateX(-100%);

    transition: transform 0.2s ease-in;

    padding-top: 2rem;

    .navbar__link {
        color: #fff;
        text-decoration: none;

        .navbar__item {
            display: flex;
            align-items: center;
            padding: 0.6rem 1.5rem;
            transition: all .1s ease-in-out;

            span {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: .4px;
                margin-left: 1.3rem;
            }
            &:hover {
                background-color: $border-color;
            }

        }
        .active {
            font-weight: 600;
            background-color: $border-color;
        }
    }

    hr {
        border: .5px solid $border-color;
        margin: 15px 0;
    }

    &.open {
        transform: translateX(0);
    }

    p {
        color: $text-color;
        padding: 0.6rem 1.5rem;

        button {
            border: 1px solid rgb(6, 95, 212);
                background-color: transparent;
                border-radius: 3px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                color: rgb(6, 95, 212);
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                margin-top: 20px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill:rgb(6, 95, 212);
                    margin-right: 10px;
                }
        }
    }
}


@media(max-width: $breakpoint-desktop) {
    nav {
        width: 70px;

        .navbar__link {

            .navbar__item {
                justify-content: center;

                span {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: $breakpoint-mobile) {
    nav {
        transform: translateX(-100%);
        position: fixed;
    }
}
