$black-primary: #252525;
$black-secondary: #16181b;

$text-color: #b1bdb4;


$breakpoint-mobile: 470px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1220px;

$border-color: #4c4c4c;

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a {
    color: #FFF;
    text-decoration: none;margin: 0;
}

li {
    list-style: none;margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}