@import './../../_base.scss';


.home {
    background-color: $black-secondary;

    .videos__container {
        display: flex;
        flex-wrap: wrap;
    }
}


@media(max-width: $breakpoint-mobile) {
    .home {
        justify-content: center;
        padding: 40px 0 0;
    }
}