@import './../../_base.scss';


.home {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    height: 92vh;
    background-color: $black-secondary;
    overflow-y: scroll;

    .videos__container {
        display: flex;
        flex-wrap: wrap;
    }
}


@media(max-width: $breakpoint-mobile) {
    .home {
        justify-content: center;
        padding: 40px 0 0;
    }
}