@import './../../../_base.scss';

.wrapper {
    width: calc(100% - 230px);
    padding: 20px;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    background-color: #181818;

    &.fullwidth {
        width: calc(100% - 72px);
    }

    &#watch-later {
        background-color: #0F0F0F;
    }
}

@media(max-width: 1220px) {
    .wrapper {
        width: calc(100% - 70px);
    }
}

@media (max-width: $breakpoint-mobile) {
    .wrapper {
        width: 100%;
    }
}